{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="top-news">
            <div class="container-fluid">
                <div class="row">
                    {% for news in news_list %}

                        <div class="col-md-6 tn-left">
                            <div class="tn-img">
                                <img src="{{ news.imageURL }}" />
                                <div class="tn-content">
                                    <div class="tn-content-inner">
                                        <a class="tn-date" href=""><i class="far fa-clock"></i>{{ news.author.username }}</a>
                                        <a class="tn-title" href="{% url 'news:detail-news-page' news.id %}">{{ news.title}}</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}


                </div>
            </div>
        </div>
{% endblock %}